<% include common/header.ejs %>
<% include common/right_column.ejs %>

    <div class="container">
        <% include common/navs.ejs %>
        <div class="row flex-xl-nowrap" id="pizza_list">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail pizza-card new-pizza">
                    <img src="assets/images/pizza_1.jpg">
                    <div class="caption">
                        <h3>Iмпрезза</h3>
                        <span class="pizza-category text-muted">M'ясна пiцца</span>
                        <p class="pizza-description">Балик, салямi, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка.</p>
                        <span class="pizza-sizes-small">
                                <i class='fas'>&#xf338;</i> <span class="pizza-size">30</span>&nbsp;&nbsp;
                                <i class='fas'>&#xf562;</i> <span class="pizza-weight">370</span>
                                <span class="pizza-price">99 грн.</span>
                                <a href="#" class="btn">Купити</a>
                        </span>
                        <span class="pizza-sizes-big">
                                <i class='fas'>&#xf338;</i> <span class="pizza-size">40</span>&nbsp;&nbsp;
                                <i class='fas'>&#xf562;</i> <span class="pizza-weight">600</span>
                                <span class="pizza-price">169 грн.</span>
                                <a href="#" class="btn">Купити</a>
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>

<% include common/footer.ejs %>