<div class="navs">
        <span class="navs-title">Усi пiцци</span><span class="circular-amount">8</span>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Усi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">M'яснi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">З ананасами</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">З грибами</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">З морепродуктами</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Вега</a>
            </li>
        </ul>
    </div>