.pizza-card {
    background: white;
    border-radius: 5px;
    padding: 0.7em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 1em;

  img {
    max-width: 250px;
  }

  .btn{
    background: @orangeColor;
    color:white;
    font-weight: bold;
  }

  .pizza-sizes-small{
    text-align: center;
    width: 20%;
    display: inline-block;
  }

  .pizza-sizes-big{
    margin-left: 30%;
    display: inline-block;
    text-align: center;
    width: 20%;
  }

  .pizza-price{
    font-weight: bold;
    font-size: 20px;
    margin-top:1em;
    line-height: 10px;
  }

  h3 {
    color: @orangeColor;
    font-weight: bold;
    margin-bottom: 0; 
  }
}

.active{
  background: @orangeColor !important;
}

.container{
  padding-top: 7%;
  margin-left:10%;
}

.navs{
  text-align: center;
  margin: auto;
  width: 700px;
  height: 100px;
}

.navs-title{
  font-size: 20px;
  font-weight: bold;
  margin-right: 0.5em;
}

.nav-link{
  color: @orangeColor;
}

#flag-bottom {
  box-sizing: content-box;
  height: 110px;
  width: 100px;
  line-height: 1em;
  left: 18px;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  text-align: center;
  line-height: 20px;
  position: fixed;
  bottom: 0;
  margin-bottom:0;
  box-sizing: content-box;
  padding-top: 15px;
  background: @orangeColor;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
#flag-bottom:before {
  content: "";
  position: absolute;
  height: 50%;
  width: 60%;
  left: -10px; /*width of border*/
  top: -20px;
  z-index: -2;
  background: @orangeColor;
  -webkit-transform: skewY(20deg);
  transform: skewY(20deg);
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
}
#flag-bottom:after {
  content: "";
  position: absolute;
  height: 50%;
  background: @orangeColor;
  width: 60%;
  right: -10px; /*width of border*/
  top: -20px;
  z-index: -2;
  -webkit-transform: skewY(-20deg);
  transform: skewY(-20deg);
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
}

.new-pizza::after{
  content: "Нова";
  display: inline-block;
  position: absolute;
  background: rgb(226, 68, 68);
  border-radius: 3px; 
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0.3em;
  color: white;
  font-weight: bold;
  font-size: 20px;
  right: 32px;
  top: -13px;
}

.popular-pizza::after{
  content: "Популярна";
  display: inline-block;
  position: absolute;
  background: rgb(10, 180, 75);
  border-radius: 3px; 
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0.3em;
  color: white;
  font-weight: bold;
  font-size: 20px;
  right: 32px;
  top: -13px;
}